{{!< default}}
<header>
<h1><a href="{{@site.url}}">{{@site.title}}</a></h1>
{{#if @site.description}}
	<span>{{@site.description}}</span>
{{/if}}
</header>
<div class="content">
<div class="post">
<ul class="post-list">
{{#foreach posts}}
<li>
<a href="{{url}}">{{{title}}}</a><span>{{date format="YYYY/MM/DD"}}</span>
</li>
{{/foreach}}
</ul>
</div>
{{pagination}}
</div>
