{{!< default}}

{{#post}}

<header>
<a href="{{@site.url}}">{{@site.title}}</a><span class="slash">/</span>
<h1>{{{title}}}</h1>
</header>

<div class="content">
<div class="post">
<div class="post-content">{{content}}</div>
<div class="post-meta">
<span>
{{#if tags}}{{tags separator=", "}} | {{/if}}
<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY-MM-DD"}}</time>
</span>
</div>
</div>
{{> comment}}
</div>

{{/post}}
